.booking__list {
  /* background-color: beige; */
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  flex-wrap: wrap;
}

.booking__list .left {
  /* background-color: rgb(163, 163, 54); */
  width: 45% !important;
  margin-bottom: 20px;
  border-radius: 10px;
}
